/* COLOR SCHEME #1
PAGE: rgb(255, 238, 193);
TEXT COLOR: #fff;
CODE BACKGROUND: rgb(238, 232, 129);
CODE TEXT: #000000;
TABLE: rgb(255, 238, 193); rgb(254, 232, 171);
TABLE HEADING: rgb(187, 163, 96);
TABLE BORDER: #000000;
BODY: #000000;
*/

/* COLOR SCHEME #2
PAGE: rgb(216, 220, 255);
TEXT COLOR: aliceblue;
CODE BACKGROUND: rgba(139, 196, 249, 0.727);
CODE TEXT: #000000;
TABLE: rgb(52, 57, 109); nth-child: rgb(67, 73, 137);
TABLE HEADING: rgb(30, 32, 68);
TABLE BORDER: #000000;
BODY: #000000;
*/

* {
    padding: 0;
    margin: 0;
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: Lato, sans-serif, serif;
    background-color: #000000;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    background-color: rgb(52, 57, 109);
    border: .3rem solid #000000;
    width: 140rem;
    box-shadow: 0 .8rem 1rem rgb(43, 43, 43);
}

tr, th {
    padding: 1rem 20rem 1rem 1rem;
    text-align: left;
}

th {
    border: .3rem solid #000000;
    background-color: rgb(30, 32, 68);
    color: aliceblue;
    font-size: 2rem;
    letter-spacing: .3rem;
    line-height: 1.7;
    font-family: sans-serif, serif;
    font-weight: bold;
}

td {
    padding: 1rem;
    border: .2rem solid #000000;
    letter-spacing: .1rem;
    word-spacing: .4rem;
    line-height: 1.5;
    font-weight: 300;
    font-size: 1.6rem;
}

.container {
    width: 100vw;
    height: 100%;
    background-color: #535c68;
    padding-bottom: 2.5rem;
}

.container:not(:first-child) {
    margin: .5rem 0 .5rem 0;
    padding: 1rem 0 1rem 0;
}

.table-heading {
    text-align: center;
    padding: 2rem 0 2rem 0;
    font-size: 3rem;
    margin: 2rem 0 2rem 0;
    text-transform: uppercase;
    line-height: 1.7;
    letter-spacing: .5rem;
    word-spacing: .5rem;
    color: aliceblue;
    background-color: rgb(30, 32, 68);
    border: .2rem solid #000000;
    box-shadow: 0 .8rem 1rem rgb(43, 43, 43);
}

span.code {
    font-family: monospace, serif;
    font-weight: 600;
    font-size: 1.6rem;
    padding: .2rem;
    background-color: rgba(139, 196, 249, 0.727);
    color: #000000;
}

tr:nth-child(even) {
    background-color: rgb(67, 73, 137);
}

td:last-of-type {
    color: aliceblue;
}